[MASTER]
# The name of the main python module to analyze.
# module_name=your_module_name

[MESSAGES CONTROL]
# Disable the "missing function or method docstring" warning (C0116)
disable=C0116

[DESIGN]
# Max number of methods in a class
# max-methods=20
